* {
    box-sizing: border-box;
}

.gallery {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery > li {
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.gallery > li > img {
    width: 100%;
}